/* annie-use-your-telescope-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Annie Use Your Telescope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/annie-use-your-telescope-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }



  /* akshar-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/akshar-v9-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* akshar-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/akshar-v9-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* akshar-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/akshar-v9-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* akshar-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/akshar-v9-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* akshar-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/akshar-v9-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }




  /* im-fell-english-sc-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IM Fell English SC';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/im-fell-english-sc-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }





/* ==================================================================================================================================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------------------------Root--------------------------------------- */

:root {
    --viobg: #823DCC;
    --whitebg: #ffffff;
    --viocolor: #823DCC;
    --whitecolor: #ffffff;
    --blackcolor: #222;
    --dataoverly: #03030e;
    --magentabg:magenta;
    --magentatxt:magenta;
}

/* --------------------------------------------------------------- */


/* ---------------------Defoult CSS------------------------------------ */
html {
    scroll-behavior: smooth;
    transition: 5s;
    text-rendering: optimizeLegibility !important;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
}

body {
    font-family: 'Akshar';
    font-weight: 400;
    color: var(--theme-dark);
    font-size: 14px;

}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'IM Fell English SC';

}

.text-6xl {
    font-size: 64px;
    font-weight: 800;
}

ul,
ol,
li {
    margin: 0;
    list-style: none;

}

a {
    text-decoration: none;
    font-family: 'Akshar';

}

.letterspace2 {
    letter-spacing: 2px;
}

.f14 {
    font-size: 14px;
}

.color24 {
    color: #242424;
}

.color4b {
    color: #4b4741;
}

.color77 {
    color: #777777;
}

.colord {
    color: #DDDDDD;
}

.mb10 {
    margin-bottom: 10px;
}

.mb80 {
    margin-bottom: 80px;
}

.pb80 {
    padding-bottom: 80px;
}

.mb15 {
    margin-bottom: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.f22 {
    font-style: 22px;
}

img {
    width: 100%;
    height: auto;
}

.white-theme {
    background-color: var(--whitebg);
    color: var(--blackcolor);
}

.whitemagenta-theme {
    background-color: var(--whitebg);
    color: var(--magentatxt);
}

.magenta-theme {
    background-color: var(--magentabg);
    color: var(--whitecolor);
}
.magenta-bg {
    background-color: var(--magentabg);
}


.text-magenta {
    color: #823DCC;
}

.headingtext1 {
    font-size: 40px !important;
    line-height: 1.4;
}

.section-padding {
    padding: 120px 0;
}

span,
a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

small {
    font-family: 'Annie Use Your Telescope';


}

p {
    font-family: 'Annie Use Your Telescope';


    /* font-weight: 300; */
    color: #777;
    line-height: 1.8;
    margin: 0;

}

/* .bi {
    font-size: 40px;
    color: var(--viocolor);
    margin-bottom: 30pxx;
} */

.mb20 {
    margin-bottom: 20px;
}

.fs15 {
    font-size: 15px;
}

.bggry {
    background-color: #fbfbfb;
}

.half-padding {
    padding: 120px 5%;
}

.lh1-8 {
    line-height: 1.8;
}

.fw300 {
    font-weight: 300;
}

:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/* @media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
} */

/* -----------------------scrollbar Modify----------------------- */

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ---------------------------------------------------------- */



.floder {
    width: 100%;
    height: 100vh;
    background-color: rgb(244, 241, 241);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floder img {
    width: 200px;
    height: 200px;
}






/* -------------------------------- Navigation Bar ------------------------------------------- */






/* -----------Navbar css------------------- */

.nav-ul-class {
    float: right;
    height: 50px;
}

.nav-ul-class li {
    padding: 0 10px;
    font-size: 12px;



}

.nav-ul-class li a {
    /* padding: 25px 15px; */
    font-weight: 700;
    padding: 15px 0;
    font-size: 13px;
    display: block;
}

.nav-ul-class li .fa-solid {
    font-size: 13px;
    margin: 0 7px;
}

.nav-ul-class li {
    text-transform: uppercase;
}

.head-start {

    width: 100%;
    /* min-height: 70px !important; */

    background-color: rgba(0, 0, 0, 0.33);


    z-index: 1000;
    /* z-index: 10; */
    position: absolute;

}


.span-li {
    width: 20px;
    line-height: 19px;
    height: 20px;
    color: black;
    margin-left: 5px;
    text-align: center;
    background-color: #f9c56a;
    border-radius: 50%;
}

.logo {
    /* padding: 18px 0; */
    float: left;
   max-width:140px;
    height: 50px;
    line-height: 20px;
    
}

.tgl_btn .fa-bars {
    font-size: 20px !important;
    color: var(--whitecolor);
}

button {
    background-color: transparent;
    border: none;


}


.btnvio:hover {
    background-color: #823DCC;
    background-position: right center;

}

.btnwht:hover {
    background-color: var(--whitebg);
    color: var(--viocolor);
}

.btn {
    transition: .4s;
    background-size: 200% auto;


}

.btn a:hover {
    padding: 10px;
    color: white;

}

.tgl-ul-class li {
    padding: 9px 15px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
}

.tgl-ul-class {
    z-index: 999;
}

.w-100 {
    z-index: 1;
}




/* ------------------Header Css------------------- */

.head-img {
    background-size: cover;
    height: 100vh;
    transition: ;
    width: 100%;
    object-fit: cover;
    background-position:0 950px;
    background-image: url(../img/portgif.gif);
    z-index: -1;


}




.head-pere {
    position: relative;
}

.head-caption {
    position: absolute;
    /* z-index: 100; */
    /* top: 15%; */
    bottom: 20%;
    left: 0%;
    /* right: 8%; */
}

.head-caption h2 {
    font-size: 36px !important;
    margin: 20px 0 10px;
    word-break: break-all;
    /* font-size: calc(36px - 1vw); */

    /* margin: 15px 0; */
}

.head-caption .text-6xl {
    font-size: 72px;
    word-break: break-all;

    /* font-size: calc(72px - 1vw); */

}

/* ---------------------------------------------------- */



/* -------------------about section ----------------*/





#about .text-6xl {
    font-weight: 800;
    font-size: 36px;
}

#about .text-6xl::after {
    content: "";
    display: block;
    position: relative;
    height: 3px;
    width: 113px;
    background-color: #f9c56a;
    margin: 0 auto;
}

.head-img {
    position: relative;
}

.btn_down {
    position: absolute;
    bottom: -150pxpx;
    left: 50%;
}



/* <!-- ================= The Resturant Start ==============  --> */
.page-header {
    margin: 80px 0 40px;
    line-height: 1.42857143;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.page-header h1 {
    word-break: break-all;
    font-size: 36px;
    margin: 20px 0 10px !important;
}

.page-header .small-littel {
    font-size: 23.4px;
    display: block;
    margin: 10px 0 15px;
}

.page-header:after {
    content: "";
    display: block;
    position: relative;
    height: 3px;
    width: 113px;
    background-color: #f9c56a;
    margin: 0 auto;
}

.about-photo {
    padding: 5px;
    cursor: pointer;
    display: block;
}

.about .img-responsive {
    width: 100%;
}

.the-restorent p {

    padding: 0 0 10px;
    color: #828281;
    font-size: 22px;
}

.sign {
    width: 321px;
    height: 66px;
}

/* @media (min-width: 768px){
.col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
}
@media (min-width: 992px) {
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
        float:left;
    }
}

@media(max-width: 992px) {
    .about-photo {
        padding-bottom:25px
    }
} */





/* <!-- ============================= Today Spacial ================ --> */
.today-spacial {
    background-image: url(/img/asset\ 24.png);
    background-size: cover;
}

.special-slider {
    border: 0 solid #fff;
}

.flexslider {
    background: #fff;
    /* border: 4px solid #fff; */
    position: relative;
    zoom: 1;
    /* -webkit-border-radius: 4px; */
    -moz-border-radius: 4px;
    border-radius: 4px;
}

@media (min-width:992px) {
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

}